header h1 {
    font-size: 3rem;
    text-align: center;
}

ul {
    list-style: none;
}

img {
    width: 325px;
}

main section > h2 {
    margin: 0;
    padding-left: 3rem;
    font-size: 2rem;
}

main article {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

main li {
    width: 20rem;
    height: 39.5rem;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 7px;
    padding: 20px;
}